---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Container from "../components/Container.astro";
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";

const allFeedback = await getCollection("feedback");
---

<Section style="contrast">
  <Container>
    <div class="feedback">
      <Heading level={2} title="What attendees say" anchor />
      <div class="feedback__grid">
        {
          allFeedback.map(({ data: { image, name, role, quote } }) => (
              <div class="feedback__item">
                <div class="feedback__item-content">
                  <blockquote class="feedback__item-quote">{quote}</blockquote>
                  <div class="feedback__item-author">
                    <Image
                      src={image}
                      alt={name}
                      width="48"
                      height="48"
                      loading="lazy"
                      class="feedback__item-author-image"
                    />
                    <div class="feedback__item-author-info">
                      <p class="feedback__item-author-name">{name}</p>
                      {role ? (
                        <p class="feedback__item-author-role">{role}</p>
                      ) : null}
                    </div>
                  </div>
                </div>
              </div>
            ))
        }
      </div>
    </div>
  </Container>
</Section>

<style>
  .feedback {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 1.5);
  }

  .feedback__grid {
    display: grid;
    gap: calc(var(--lh) / 2);

    @media (800px <= width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .feedback__item {
    box-shadow: 0 0 0 1px var(--color-border);
    background-color: var(--color-bg);
    padding: var(--lh);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
  }

  .feedback__item-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 0.75);
    flex-grow: 1;
  }

  .feedback__item-quote {
    font-style: italic;
    flex-grow: 1;
  }

  .feedback__item-author {
    display: flex;
    flex-direction: row;
    gap: 0.5lh;
  }

  .feedback__item-author-image {
    width: 2lh;
    height: 2lh;
    object-fit: cover;
    border-radius: var(--br);
  }

  .feedback__item-author-info {
    min-width: 0;
    flex-grow: 1;
  }

  .feedback__item-author-name {
    font-weight: 600;
  }

  .feedback__item-author-role {
    font-size: 14px;
    opacity: 0.5;
  }
</style>
